@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: #fff;
}

html.dark-mode {
  --cursor-color: #000;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply scroll-smooth bg-white font-body transition-colors selection:bg-black selection:text-white 
    dark:bg-black dark:selection:bg-white dark:selection:text-black;
  }
}

.radial-background {
  background-image: radial-gradient(
    circle,
    rgba(48, 102, 190, 1) 0%,
    rgba(0, 0, 0, 0) 25%
  );
  background-position: top right;
}

.text-stroke-light {
  -webkit-text-stroke: 1px #050505;
  text-stroke: 1px #050505;
}

.text-stroke-dark {
  -webkit-text-stroke: 1px #fafafa;
  text-stroke: 1px #fafafa;
}
