@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: #fff;
}

html.dark-mode {
  --cursor-color: #000;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply scroll-smooth bg-white font-body transition-colors selection:bg-cerulean-blue-500 selection:text-white dark:bg-black;
  }
}

.radial-background {
  background-image: radial-gradient(
    circle,
    rgba(48, 102, 190, 1) 0%,
    rgba(0, 0, 0, 0) 25%
  );
  background-position: top right;
}
